<table class="table table-bordered table-striped">  
    <thead>
      <tr>
        <td ng-repeat="column in columns">
          <a ng-click="setOrderBy(column,sortReverse)">
            {{column.name}}
			<span ng-show="showOrderBy(column)"  ng-class="{'glyphicon glyphicon-menu-down': sortReverse, 'glyphicon glyphicon-menu-up':!sortReverse}"></span>
          </a>
        </td>
      </tr>
    </thead>
    
    <tbody>
      <tr ng-repeat="row in data  | queryFilter:query |  orderBy:sortType:sortReverse">
        <td ng-repeat="column in columns">{{ column.type === 'date' ? (row[column.property] | date:'dd/MM/yyyy') : row[column.property]  }}</td>
      </tr>
    </tbody>
    
  </table>