<div class="panel panel-default">
  <form novalidate role="search" name="searchForm">
  <!-- Table -->
<table class="table table-bordered table-striped">  
    <thead>
      <tr>
	  	<td>Remove</td>
        <td>Property</td>
		<td>Operation</td>
		<td>Value</td>
      </tr>
    </thead>
    
    <tbody>
	 
      <tr ng-repeat="filter in filters">
	  	<td>
		  <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="removeFilter($index)" ng-disabled="!showRemoveButton()">
			<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
		  </button>
		</td>
        <td>
		  <select ng-model="filter.column" class="form-control" required name="name" ng-change="addFilter()" ng-options="column.name for column in columns">
		    <option value="">-- Choose column --</option>
		  </select>
		</td>
		<td>
		  <select ng-model="filter.operator" ng-options="operator.name for operator in operators" class="form-control" required name="operator" ng-change="addFilter()">
			<option value="">-- Choose operator --</option>
		    </select>
		</td>
		<td ng-switch on="filter.column.type">
           <input ng-switch-when="date"
		          type="date" 
		          class="form-control" 
				  id="{{filter.name$index}}" 
				  placeholder="" 
				  ng-model="filter.value" 
				  required name="value" 
				  ng-change="addFilter()"
				  ng-model-options="{ updateOn: 'blur' }">
			<input ng-switch-default 
			      type="text" 
		          class="form-control" 
				  id="{{filter.name$index}}" 
				  placeholder="" 
				  ng-model="filter.value" 
				  required name="value" 
				  ng-change="addFilter()"
				  ng-model-options="{ updateOn: 'blur' }">	  
		</td>
      </tr>
	    
    </tbody>
    
  </table>
  </form>
</div>


